@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
:root{
    --color-yellow:#FFC44D;
    --color-light: #fff;
    --color-primary : #38B6FF;
    --color-black:black;
    --taille-primary:50px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Magra", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: url(/a739ddad-9c49-465b-b267-4381c57bfe59.jpeg) no-repeat top right/cover;
    position: relative;
    
}
header{
    margin-top: 20px;
    border-radius: 15px;
    background: #ffffff2d;
    backdrop-filter: blur(20px);
}
.wrapper-main{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background: #0000002e;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    border-radius: 20px;
    display: none;
}
.main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    color: wheat;
    padding: 10px 20px;
    
}
.vide{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
}
.img > a > img{
    width: 100%;
}
.img > img {
    width: 100%;
}
.img {
    width: 45%;
    padding: 5px;
    background: #00000028;
    max-height: 150px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    cursor: pointer;
}
.img:hover{
    border: 1px solid var(--color-primary);
}
.content{
    width: 50%;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    text-align: start;
    border-left: 5px solid var(--color-yellow);
}
.content > h1{
    font-size: 60px;
    color: var(--color-primary);
    text-shadow: 4px 4px 5px #024d6b;
    font-weight: 900;
}
.content > p {
    font-size: 15px;
    letter-spacing: 2px;
    color: var(--color-yellow);
    text-transform: uppercase;
    font-weight: 300;
}
.st{
    padding: 10px 20px;
    border: 1px solid #80808051;
    font-size: 18px ;
    font-weight: 800;
    background: #80808051;
    color: #80808051;
    border-radius: 36px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.start{
    padding: 10px 20px;
    border: 1px solid var(--color-primary);
    font-size: 18px ;
    font-weight: 800;
    background: #38b6ff41;
    color: var(--color-yellow);
    border-radius: 36px;
    margin-top: 15px;
    cursor: pointer;
    transition: .5s;
}
.start:hover{
    background: #38B6FF;
    color: white;
}
.quiz{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: right;
    align-items: center;
    color: wheat;
    border-radius: 20px;
    text-align: center;
}
.wrapper-quiz{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background: #0000002e;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.281);
    padding: 20px 0px;
    display: none;
}
.wrapper-quiz-py{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background: #0000002e;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.281);
    padding-bottom: 20px;
}
.Question{
    padding:30px  ;
    background: #ffffff;
    margin-bottom: 30px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 40px;
}
.Question > h1 {
    font-size: 20px ;
    color: #024d6b;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 500px;
    margin: 0 auto;
}
#Answer{
    max-width: 80%;
    padding: 10px;
    margin: 0 auto;
    background: #ffffff8f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 5px;
    margin-bottom: 30px;
}
#Answer > button {
    padding:10px 20px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    width: 45%;
    color:#024d6b;
    font-weight:800;
    font-size: 20px;
    border: 2px solid transparent;
    margin: 3px;
    transition: .5s;
    border: 1px solid rgb(255, 255, 255);
}
#Answer > button:hover{
    border: 1px solid rgb(0, 0, 0);
    transform: translateX(3px);
    transform: translateY(-3px);
}
#next {
    padding: 5px 30px ;
    border: none;
    border-radius: 5px;
    background: #38B6FF;
    color: white;
    font-weight: 800;
    font-size: 20px;
    border: 1px solid #38B6FF;
    border-top-right-radius: 120px;
    display: none;
}
#next:hover{
    background: transparent;
    border: 1px solid #38B6FF;
}
.quiz > h1 {
    font-size: 23px;
    color: #024d6b;
    padding: 10px 25px;
    border-radius: 15px;
    background: #ffffff;
    text-align: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.162);
    max-width: 130px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}
.quiz > h1 > span {
    padding: 5px ;
    border: 1px solid #024d6b;
    border-radius: 10px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom: none;
    color: #024d6b;
    margin: 10px;
}
.progres{
    margin-top: 15px;
    height: 3px;
    width: 10%;
    background: linear-gradient(24deg , rgb(0, 255, 0), rgb(255, 98, 0));
}
.title{
    color: white;
}
.box > h5 {
    font-size: 12px;
    color: rgb(216, 216, 216);
    text-align: justify;
}
.content > h6 {
    color: var(--color-light);
    font-weight: 700;
}
.forTime{
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0000002d;
    backdrop-filter: blur(10px);
    margin-top: -20px;
    display: none;
}
#forGo{
    font-size: 60px;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    padding: calc(var(--taille-primary) /2);
    border-radius: calc(var(--taille-primary) / 2);
    background: rgba(0, 0, 0, 0.178);
    font-weight: 800;
    width: calc(var(--taille-primary)*3);
}
#full-name{
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff13;
    backdrop-filter: blur(20px);
    margin-top: -20px;
    display: none;
}

.cer-wrapper{
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #00000063;
    backdrop-filter: blur(10px);
    margin-top: -20px;
}
.cer-main{
    width: 90%;
    height: 70%;
    border: 1px solid var(--color-yellow);
    border-radius: calc(var(--taille-primary) / 2);
    padding: calc(var(--taille-primary) / 3);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    flex-direction: row-reverse;
}
.certificat{
    width: 50%;
    height: 70%;
    border: 1px solid var(--color-yellow);
    background-image: url(/images/Blue\ and\ Orange\ Elegant\ Certificate\ of\ Achievement\ Template.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.cer-content{
    margin-top: 40px;
}
#cer-name{
    font-size: 30px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
#cer-score{
    font-size: 7px;
    margin-left: 85px;
    color: green;
}
.scoreFinal{
    width: 40%;
    border: 1px solid var(--color-yellow);
    height: 60%;
    background: #00000028;
}

@media screen and (max-width:750px) {
    #Answer > button {
        padding:10px 20px;
        background: #ffffff;
        border: none;
        border-radius: 5px;
        width: 45%;
        color:#024d6b;
        font-weight:800;
        font-size: 16px;
        border: 2px solid transparent;
        margin: 3px;
        transition: .5s;
        border: 1px solid rgb(255, 255, 255);
        text-align: center;
    }
    .vide{
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid var(--color-primary);
        border-radius: 20px;
    }
    .img > a > img{
        width: 100%;
    }
    .img > img {
        width: 100%;
    }
    .img {
        width: 15%;
        padding: 5px;
        background: #00000028;
        max-height: 150px;
        margin: 5px;
        border-radius: 15px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 auto;
    }
    .content{
        margin-top: 40px;
        width: 100%;
        max-width: 500px;
        padding: 20px;
        text-align: left;
        text-align: start;
        border-left: 5px solid var(--color-yellow);
    }

    .content > h1{
        font-size: 55px;
        color: var(--color-primary);
        text-shadow: 4px 4px 5px #024d6b;
        font-weight: 900;
    }
    .box > h5 {
        font-size: 12px;
        color: rgb(216, 216, 216);
        text-align: justify;
    }
    .wrapper-main{
        width: 80%;
        height: 73%;
        margin: 0 auto;
        margin-top: 20px;
        background: #0000002e;
        backdrop-filter: blur(20px);
        display: flex;
        align-items: center;
        border-radius: 20px;
    }
}